<% sidebar = SARAH.PortalManager.SIDEBAR %>
<% layout('/layout/layout.ejs') -%>
<% script('/duinoremote/www/js/duinoremote.js'); %>
<% stylesheet('/duinoremote/www/less/duinoremote.css'); %>

<h1><%- i18n('plugin.DuinoRemote.hello') -%></h1>

<div id="duinoremote">
  <a href="#" class="duinoremote"><%- i18n('plugin.DuinoRemote.world') -%></a>
</div>